.map{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;

    svg{
        margin: auto;
        transform-origin: center;
        transition: transform 0.2s ease-out;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

circle{
    fill: #666;
    cursor: pointer;

    &.is-active{
        fill: #fff !important;
    }
}

.tooltip{
    fill: #fff;
    // /font-size: 16px;
    // font-size: 400%;
}


.hide-stops{
    .stops{
        display: none;
    }
}

.hide-buses{
    .buses{
        display: none;
    }
}