.page{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header,
    &__footer{
        padding: $spacing-base;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        > *{
            z-index: 2; // Bring above the map
        }
    }

        &__logo{
            margin-bottom: 0;
        }

        &__about{
            color: $color-light;
        }

    &__header{
        text-transform: uppercase;
        align-items: center;
    }

    &__map{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

}